.login-page-wrapper {
  width: 100%;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1457904375453-3e1fc2fc76f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-size: 100% 100%;
  position: fixed;
}


.login-page-background {
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  padding: 0 0 40px 0;
  min-height: 100vh;
}

.login-page-header {
  z-index: 10;
  padding: 30px 60px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  text-decoration: none;
  color: white;
  font-size: 26px;
  font-weight: 300;
}

.header-logo:hover {
  text-decoration: none;
  color: white;
  font-size: 26px;
  font-weight: 300;
}

.card-body {
  width: 650px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  padding: 30px 40px;
}

.form-group label {
  margin-top: 10px;
}

.email,
.password {
  margin-top: 10px;
  padding: 25px !important;
  font-size: 18px;
}

.btn {
  padding: 10px 15px;
  font-size: 18px;
  margin-top: 10px;
  letter-spacing: 1.5px;
}

.card-body-registration {
  margin: 0 auto;
  margin-top: 10px;
  color: white;
  width: 660px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 40px 30px;
}

.hello-msg {
  width: 90%;
  height: 90vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hello-msg span {
  position: absolute;
  font-weight: 100;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 25px;
  font-stretch: 10px;
}

.hello-msg span:hover {
  color: whitesmoke;
}

@media (min-width: 1200px) {}

@media (max-width: 1199px) and (min-width: 992px) {}

@media (max-width: 991px) and (min-width: 768px) {
  .login-page-header {
    padding: 15px 30px;
  }

  .header-logo {
    font-size: 22px;
  }

  .nav-link {
    font-size: 13px;
  }

  .card-body {
    width: 500px;
  }

  .card-title {
    font-size: 20px;
  }

  .email,
  .password {
    padding: 10px 20px !important;
    font-size: 16px;
  }

  .btn {
    padding: 10px;
    font-size: 16px;
  }

  .card-body-registration {
    width: 500px;
  }

  .loginForm input {
    padding: 7px 15px;
    font-size: 16px;
  }
}

@media (max-width: 767px) and (min-width: 576px) {
  .login-page-header {
    padding: 15px 30px;
  }

  .header-logo {
    font-size: 22px;
  }

  .nav-link {
    font-size: 13px;
  }

  .card-body {
    width: 500px;
  }

  .card-title {
    font-size: 20px;
  }

  .email,
  .password {
    padding: 10px 20px !important;
    font-size: 16px;
  }

  .btn {
    padding: 10px;
    font-size: 16px;
  }

  .card-body-registration {
    width: 500px;
  }

  .loginForm input {
    padding: 7px 15px;
    font-size: 16px;
  }
}

@media (max-width: 575px) and (min-width: 320px) {
  .login-page-header {
    padding: 10px 10px;
  }

  .header-logo {
    font-size: 15px;
  }

  .nav-link {
    font-size: 10px;
    padding: 4px;
  }

  .card-body {
    width: 300px;
    padding: 15px;
  }

  .card-title {
    font-size: 16px;
  }

  .form-group {
    font-size: 13px;
    margin-top: 5px;
  }

  .form-group label {
    margin: 3px 0;
  }

  .email,
  .password {
    padding: 3px 10px !important;
    font-size: 9px;
  }

  .btn {
    padding: 5px;
    font-size: 13px;
  }

  .card-body-registration {
    width: 300px;
    padding: 20px;
  }

  .loginForm input {
    padding: 3px 10px !important;
    font-size: 10px !important;
  }

  .notify-container {
    position: absolute;
    z-index: 9999999;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
}